.cart-drawer {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    background: var(--light-grey);
    width: 40%;
    z-index: 9;
    padding: 38px 20px 10px 20px;
    transition: all 0.3s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--black);

    .top-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 10px;
        padding: 0 0 10px 0;
    }

    .close-drawer {
        cursor: pointer;
        margin-bottom: 2px;
        border: var(--border-black);
        border-radius: 50px;
        padding: 4px 14px;
    }

    .close-drawer:hover {
        background: var(--green);
    }

    h2 {
        font-size: 34px;
    }

    ul {
        border-top: var(--border-black);
        height: 100%;
        padding: 10px 0 0 0;
    }

    li {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-gap: 20px;
        border-bottom: var(--border-black);
        padding: 0 0 10px 0;

        .thumbnail {
            
            a {
                display: block;

                img {
                    width: 100%;
                    display: block;
                    height: auto;
                    border-radius: 20px !important;
                }
            }
        }

        .title {
            font-size: 24px;
        }
    
        .quantity {
            padding: 20px 0;
            font-family: var(--sans-serif);
        }
    
        .remove-holder {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
        }
        .remove-item {
            cursor: pointer;
            display: inline-block;
            
            a {
                border: var(--border-black);
                border-radius: 50px;
                padding: 4px 14px;
                text-align: center;
                font-size: 12px;
                font-family: var(--sans-serif);
            }

            a:hover {
                color: var(--black);
                background: var(--green);
            }
        }
    

    }

    .bottom {
        .total {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 0 4px 0;
            border-bottom: var(--border-black);
            font-family: var(--sans-serif);
            text-transform: uppercase;
        }

        .buttons {
            display: flex;
            flex-direction: column-reverse;
            padding: 20px 0 0 0;

            a.checkout {
                border: var(--border-black);
                border-radius: 50px;
                padding: 4px 15%;
                text-align: center;
                font-size: 24px;
                text-transform: uppercase;
            }

            a:nth-child(1){
                margin: 20px 0 0 0;
                text-align: center;
                font-family: var(--sans-serif);
            }

            a.checkout:hover {
                background: var(--green);
                color: var(--black);
            }
        }
    }

    .empty-cart {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.cart-drawer.open-drawer {
    right: 0px !important;
}


@media screen and (max-width: 767px) {

    .cart-drawer {
        width: 80%;
    }
}