header {
    // display: flex;
    // flex-direction: row;
    // align-items: flex-start;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding: 10px;
    text-transform: uppercase;

    nav#site-navigation {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
        }
    }

    .center {
        text-align: center;
    }

    nav#shop-navigation {
        display: flex;
        justify-content: flex-end;

        .cart-count {
            font-size: 34px;
            cursor: pointer;
        }
        .cart-count:hover {
            color: var(--green);
        }

    }
}