.homepage {
    //min-height: calc(100svh - 108px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;

    .content {
        border: var(--border-green);
        border-radius: 40px;
        padding: 180px 40px 40px 40px;
        margin: 0 0 50px 0;

        h2 {
            margin: 0 0 20px 0;
            font-size: var(--large-font);
            text-align: left;
            line-height: 1.1;
        }
    
        p {
            font-size: 14px;
            //text-align: center;
            line-height: 1.1;
            font-family: var(--sans-serif);
        }
    }
}